# Virtual Environment
venv/
.venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# IDEs
.vscode/
.idea/

# Build Files
build/
dist/
*.egg-info/

# Logs
*.log

# Machine Learning Models
*.pkl
*.joblib

# Coverage
.coverage
htmlcov/

# Operating System Files
.DS_Store
Thumbs.db
